body{
    font-size: 24px;
    font-family: sans-serif;
}
#container{
    margin : 20px auto;
    background-color: rgb(135, 186, 206);
    height: 600px;
    width : 850px;
    position: relative;
    border:2px solid black;
}
#start{
    font-size: 2em;
    width:250px;
    height:125px;
    border : 2px solid black;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:275px;
    top:75px;
    padding: 20px;
}
#start:hover{
    border: 3px solid rgb(0, 255, 242);
    color : rgb(97, 255, 247);
    background-color: black;
}
#question{
    width:600px;
    height : 125px;
    position: absolute;
    right:100px;
    top:15px;
    text-align: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 2em;
}
#choices{
    width : 600px;
    position: absolute;
    right : 0;
    top : 180px;
    padding : 9px
}
.choice{
    width : 350px;
    text-align: center;
    border : 2px solid black;
    cursor: pointer;
    padding : 7px;
    margin: 6px;
}
.choice:hover{
    border : 2px solid rgb(97, 255, 247);
    font-weight: bold;
    color: rgb(97, 255, 247);
    background-color: black;
}
#timer{
    position: absolute;
    width : 200px;
    top : 150px;
    left: 30px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
/* #progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
} */
/* #highScore{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 100px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: fixed;
    display: none;
} */
/* #scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
} */








