body{
    font-size: 24px;
    font-family: sans-serif;
}
#container{
    margin : 20px auto;
    background-color: rgb(135, 186, 206);
    height: 550px;
    width : 900px;
    position: relative;
    border:2px solid black;
}
#start{
    font-size: 2em;
    width:250px;
    height:125px;
    border : 2px solid black;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:275px;
    top:75px;
    padding: 20px;
}
#start:hover{
    border: 3px solid rgb(0, 255, 242);
    color : rgb(97, 255, 247);
    background-color: black;
}
#question{
    width:600px;
    height : 125px;
    position: absolute;
    right:100px;
    top:15px;
    text-align: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 2em;
}
#choices{
    width : 600px;
    position: absolute;
    right : 0;
    top : 230px;
    padding : 9px;
    size: 22px;
}
.choice{
    width : 350px;
    text-align: center;
    border : 2px solid black;
    cursor: pointer;
    padding : 10px;
    margin: 15px;
    size: 22px;
}
.choice:hover{
    border : 2px solid rgb(97, 255, 247);
    font-weight: bold;
    color: rgb(97, 255, 247);
    background-color: black;
}
#timer{
    position: absolute;
    width : 200px;
    top : 150px;
    left: 30px;
    text-align: center;
}
#counter{
    font-size: 6em;
}

#userScore{
   text-align: center;
   border: solid 2px black;
   background-color: cyan;
   font-size: 55px;
   padding: 35px;
   font-weight: bolder;
}
#highScore {
   text-align: center;
}









